@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root,
[data-bs-theme=light] {
  --bg-links: rgba(36, 44, 91, 0.05);
  --bg-links-hover: rgba(36, 44, 91, 0.1);
  --bg-links-active: rgba(36, 44, 91, 0.15);
  --bs-font-sans-serif: "Oxygen", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bg-blur: rgba(255, 255, 255, 0.65);
}

[data-bs-theme=dark] {
  --bg-links: rgba(255, 255, 255, 0.05);
  --bg-links-hover: rgba(255, 255, 255, 0.1);
  --bg-links-active: rgba(255, 255, 255, 0.15);
  --bg-blur: rgba(0, 0, 0, 0.65);
}

.blur {
  backdrop-filter: blur(1rem);
  background-color: var(--bg-blur);
}

.bg-links {
  transition: 0.15s ease-out all;
  background-color: var(--bg-links);
}

.bg-links:hover {
  transition: unset;
  background-color: var(--bg-links-hover);
}

.bg-links:active {
  transition: unset;
  background-color: var(--bg-links-active);
}

.imagemAoFundo {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  animation: 60s fundoAnimado ease-in-out infinite alternate;
  position: relative;
}

.imagemAoFundo > div {
  position: relative;
  z-index: 1;
}

.imagemAoFundo::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-out;
}

.carousel-item:has(.card:hover) .imagemAoFundo::after {
  background-color: rgba(var(--bs-body-bg-rgb), 0.9);
  backdrop-filter: blur(0.5rem);
}

.carousel-item:has(.card.ocultar) .imagemAoFundo::after {
  background-color: transparent;
  backdrop-filter: none;
}

@keyframes fundoAnimado {
  0% {
    background-position: bottom;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: top;
  }
  100% {
    background-position: right;
  }
}

.telaInteira {
  height: 100vh;
  height: 100dvh;
}

.table {
  --bs-table-bg: unset !important;
}

.fadeinout {
  transition: all 200ms ease-in;
}

.ocultar {
  opacity: 0;
  scale: 0.75
}

.text-normal {
  word-wrap: normal !important;
  word-break: normal !important;
}

.trocacornext {
  animation: trocacornext 2s infinite alternate ease-in-out;
}

@keyframes trocacornext {
  from {
    filter: invert(0) grayscale(100);
  }
  to {
    filter: invert(1) grayscale(100);
  }
}

.pb-6 {
  padding-bottom: 6rem !important;
}
